loguru
fastapi
uvicorn
Jinja2
sounddevice
soundfile
numpy
starlette>=0.40.0 # not directly required, pinned by Snyk to avoid a vulnerability
h11>=0.16.0 # not directly required, pinned by Snyk to avoid a vulnerability